.popupCard {
  max-width: 250px;
  font: 12px/20px "Helvetica Neue", Arial, Helvetica, sans-serif;
  height: fit-content;
  max-height: 200px;
  overflow: auto;
}

.title {
  font-weight: 700;
  font-size: 17px;
  font-family: "Public Sans", sans-serif;
}

.desc {
  font-size: 1rem;
  font-family: "Public Sans", sans-serif;
  font-weight: 400;
  color: rgb(99, 115, 129);
}

.cluster-marker {
  border-radius: 50%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
}

.s-1 {
  width: 20px;
  height: 20px;
  color: #fff;
  background: #33c6a2;
}

.s-2 {
  width: 30px;
  height: 30px;
  color: #fff;
  background: #3a4551;
}

.s-3 {
  width: 40px;
  height: 40px;
  color: #000;
  background: #ffcc4d;
}
