.hTitle {
  font-family: Fredoka One;
  font-size: 30px;
  line-height: 36px;
  color: #3a4551;
}

.auth {
  padding: 2vh 5vh 6vh 5vh;
  background: rgba(255, 255, 255, 0.24);
  border: 1px solid #d5d5d5;
  box-sizing: border-box;
  backdrop-filter: blur(16px);
  border-radius: 8px;
}

.authTitle {
  align-items: center;
  text-align: center;
  font-family: Red Hat Display;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 36px;
  color: #120e21;
}

.mdpF {
  width: 100%;
  display: inline-flex;
  justify-content: center;
  text-decoration: none !important;
  font-family: Public Sans;
  font-style: normal;
  font-size: 16px;
  font-weight: 600;
  color: #120e21;
}
/*
  #mdpF {
    @apply text-blue-900;
  }*/

#insc > * {
  font-size: 18px;
  font-weight: 500;
}

#inscB {
  font-weight: 600;
}

#loginBtnForm {
  width: 263px;
  margin: 10px 0px;
  height: 54px;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  background: #00ab55;
  border-radius: 60px;
}

.centreD {
  width: 100%;
  display: inline-flex;
  justify-content: center;
}
