.s-1 {
  @apply w-9;
  @apply h-9;
  @apply bg-teal-500;
}

.s-2 {
  @apply w-11;
  @apply h-11;
  @apply bg-teal-500;
}

.s-3 {
  @apply w-14;
  @apply h-14;
  @apply bg-slate-600;
}

.s-4 {
  @apply w-16;
  @apply h-16;
  @apply bg-amber-400;
}

.popupCard2 {
  position: absolute;
  top: 35vh;
  width: 100%;
  height: 65vh;
  overflow: auto;
  background-color: #fff;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
}

#btnPrevImg {
  @apply opacity-100 !important;
}

#btnNextImg {
  @apply opacity-100 !important;
}
